[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.1.2"
pillow = "*"
python-decouple = "*"
django-jazzmin = "*"

[dev-packages]
pyclean = "*"

[requires]
python_version = "3.10"
